In [2]:
pip install cinemagoer

Requirement already satisfied: cinemagoer in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2023.5.1)
Requirement already satisfied: SQLAlchemy in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from cinemagoer) (2.0.35)
Requirement already satisfied: lxml in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from cinemagoer) (5.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy->cinemagoer) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy->cinemagoer) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ip (C:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages)

In [249]:
import pandas as pd
import json
from bs4 import BeautifulSoup
import requests
import re
from imdb import Cinemagoer
import time
import numpy as np
import ast

In [3]:
df=pd.read_csv("MoMovie.csv")

In [4]:
df.sample(5)

,web-scraper-order,web-scraper-start-url,Movie_Name,Year,Duration,Rating,Overview,link,link-href
961,1728642008-962,https://www.imdb.com/search/title/?title_type=...,962. Malai,2024.0,NaN,NaN,"Young city doctor visits village, clashing wit...",962. Malai,https://www.imdb.com/title/tt33083586/?ref_=sr...
224,1728642008-225,https://www.imdb.com/search/title/?title_type=...,225. Shayar,2024.0,2h 35m,8.2,Satta and Seero's enduring love faces obstacle...,225. Shayar,https://www.imdb.com/title/tt31228642/?ref_=sr...
1484,1728642008-1485,https://www.imdb.com/search/title/?title_type=...,1485. Jaljeera,2024.0,NaN,NaN,"An anthology of 5 diverse tales, Jaljeera weav...",1485. Jaljeera,https://www.imdb.com/title/tt33257542/?ref_=sr...
571,1728642008-572,https://www.imdb.com/search/title/?title_type=...,572. Purvanchal,2024.0,NaN,NaN,NaN,572. Purvanchal,https://www.imdb.com/title/tt15576930/?ref_=sr...
242,1728642008-243,https://www.imdb.com/search/title/?title_type=...,243. Razakar: The Silent Genocide of Hyderabad,2024.0,2h 46m,7.9,Revolves around the Hyderabad Liberation Movem...,243. Razakar: The Silent Genocide of Hyderabad,https://www.imdb.com/title/tt29224742/?ref_=sr...

In [5]:
df=df.drop(['web-scraper-order', 'web-scraper-start-url', 'link'], axis=1)

In [6]:
def remove_number(text):
    """
    Removes leading numbers followed by a dot and space from the text.
    Example: "1. Example Title" -> "Example Title"
    """
    return re.sub(r'^\d+\.\s*', '', text)

In [7]:
df['Movie_Name'] = df['Movie_Name'].apply(remove_number)

In [8]:
df['Duration'] = df['Duration'].replace(np.nan , "Unknown")
df['Rating'] = df['Rating'].replace(np.nan , "Unknown")
df['Overview'] = df['Overview'].replace(np.nan , "Unknown")

In [9]:
df.dropna(inplace=True)

In [10]:
df.sample(5)

,Movie_Name,Year,Duration,Rating,Overview,link-href
1739,Naari Tu Naa Haari,2024.0,Unknown,Unknown,Unknown,https://www.imdb.com/title/tt33367363/?ref_=sr...
1432,Musafiraa,2024.0,2h 2m,7.4,"After a broken engagement, five friends take a...",https://www.imdb.com/title/tt27711761/?ref_=sr...
258,Bagheera,2024.0,Unknown,Unknown,"When society turns into a jungle, just one pre...",https://www.imdb.com/title/tt15380608/?ref_=sr...
1047,Raavsaheb,2024.0,Unknown,Unknown,Unknown,https://www.imdb.com/title/tt15464616/?ref_=sr...
617,Haraa,2024.0,2h 16m,6.9,"Haraa is a Tamil movie starring Kokila Mohan, ...",https://www.imdb.com/title/tt20452494/?ref_=sr...

In [11]:
def extract_ids(link_string):
    # Use regex to find all occurrences of 'tt' followed by digits
    ids = re.findall(r'tt\d+', link_string)
    return ', '.join(ids)

In [12]:
df['imdb_id'] = df['link-href'].apply(extract_ids)

In [13]:
def extract_ids(link_string):
    # Use regex to find all occurrences of 'tt' followed by digits, then remove 'tt'
    ids = re.findall(r'tt(\d+)', link_string)  # Capture only the digits after 'tt'
    # Join the list of numeric IDs into a single string, separated by commas
    return ', '.join(ids)

In [14]:
df['movie_id'] = df['imdb_id'].apply(extract_ids)

In [15]:
df=df.drop(['link-href'], axis=1)
df

,Movie_Name,Year,Duration,Rating,Overview,imdb_id,movie_id
0,Stree 2: Sarkate Ka Aatank,2024.0,2h 27m,7.3,"After the events of Stree, the town of Chander...",tt27510174,27510174
1,Devara Part 1,2024.0,2h 56m,6.5,"An epic action saga set against coastal lands,...",tt11821912,11821912
2,Ulajh,2024.0,2h 30m,6.4,"The journey of a young IFS officer, belonging ...",tt19838634,19838634
3,Auron Mein Kahan Dum Tha,2024.0,2h 30m,7.3,"After 20 years in prison, a man reunites with ...",tt26659814,26659814
4,Dharmaveer 2,2024.0,2h 10m,7.6,"Explores Anand Dighe's life, tracing his polit...",tt28631109,28631109
...,...,...,...,...,...,...,...
1827,Cycle Mahesh,2024.0,1h,Unknown,A young worker's epic bicycle journey home and...,tt33808098,33808098
1828,Maryade Prashne,2024.0,Unknown,Unknown,Unknown,tt33808618,33808618
1829,Uruttu Factory,2024.0,1h 28m,Unknown,Unknown,tt33810459,33810459
1830,Satchi Perumal (Witness Perumal),2024.0,Unknown,Unknown,'Satchi Perumal' with the main lead Perumal fr...,tt33812085,33812085
1831,Apna Amitabh,2024.0,1h 48m,Unknown,This is a story of a young man boy named Vijay...,tt33821001,33821001

In [21]:
ia = Cinemagoer()

In [22]:
directors_list = []
cast_list = []
genres_list = []

In [23]:
for movie_id in df['movie_id']:
    movie = ia.get_movie(movie_id)
    director_names = movie.get('directors', [])  # Use .get() to avoid KeyError

    if director_names:  # If the list is not empty
        # Join director names into a single string
        director = ', '.join(director['name'] for director in director_names)
    else:  # If no directors are found
        director = "unknown"  # Assign "unknown"

    directors_list.append(director)  # Append the string to the list

    cast_members = movie.get('cast', [])
    if cast_members:  # If the list is not empty
        # Limit the number of cast members if desired (e.g., top 5)
        cast = ', '.join(actor['name'] for actor in cast_members[:5])
    else:  # If no cast is found
        cast = "unknown"  # Assign "unknown"

    cast_list.append(cast)  # Append the string to the cast list

    # Fetch genres
    genres = movie.get('genres', [])
    if genres:  # If the list is not empty
        genre = ', '.join(genres)
    else:  # If no genres are found
        genre = "unknown"  # Assign "unknown"

    genres_list.append(genre)  # Append the string to the genres list
    time.sleep(0.3)  # Sleep to avoid overwhelming the API

In [24]:
gen_cast_dir = pd.DataFrame({
    'Directors': directors_list,
    'Casts': cast_list,
    'Genres': genres_list
})

gen_cast_dir

,Directors,Casts,Genres
0,Amar Kaushik,"Rajkummar Rao, Shraddha Kapoor, Pankaj Tripath...","Comedy, Horror"
1,Koratala Siva,"N.T. Rama Rao Jr., Saif Ali Khan, Janhvi Kapoo...","Action, Drama, Thriller"
2,Sudhanshu Saria,"Janhvi Kapoor, Roshan Mathew, Gulshan Devaiah,...","Drama, Thriller"
3,Neeraj Pandey,"Ajay Devgn, Tabu, Jimmy Shergill, Saiee Manjre...","Action, Crime, Drama, Romance"
4,Pravin Tarde,"Sunil Barve, Rajesh Bhosle, Kshitish Date, Mak...","Documentary, Biography, Drama"
...,...,...,...
1827,Suhel Banerjee,unknown,unknown
1828,Nagaraja Somayaji,"Poornachandra Mysuru, Rekha Kudligi, Teju Bela...",unknown
1829,"Sid, Sid",Sid,Documentary
1830,RP. Vinnu,"Pandiamma, Verra Paramasivam, V P. Rajasekar, ...",Drama
1831,Ajay Anand,"Mukesh S. Bhatt, Jay Thakkar, Sharat Sonu, Bac...","Comedy, Drama, Family"

In [31]:
updated_df = df.assign(**gen_cast_dir)

In [32]:
updated_df.sample(5)

,Movie_Name,Year,Duration,Rating,Overview,imdb_id,movie_id,Directors,Casts,Genres
1012,Kumbaari,2024.0,1h 55m,6.2,Friendship of young people and the love betwee...,tt28677912,28677912,Kevin Joseph,"Jangiri Madhumitha, Naleef, Mahana Sanjeevi, S...",unknown
402,Sheran Di Kaum Punjabi,2024.0,Unknown,7.4,Unknown,tt16867258,16867258,Gippy Grewal,"Raghveer Boli, Ravi Dehru, Sanjay Dutt, Gippy ...","Action, Adventure, Drama, History, War"
627,Kasoombo,2024.0,2h 36m,8.2,Set against the backdrop of Allauddin Khilji's...,tt30322899,30322899,Vijaygiri Bava,"Dharmendra Gohil, Raunaq Kamdar, Shraddha Dang...",History
1298,Manomani,2024.0,Unknown,Unknown,Unknown,tt28787193,28787193,Sanjay Kashiram Deokar,"Parshuram Rohit, Pranjali Kanzarkar, Milind Ja...","Action, Comedy, Crime, Drama, Romance"
1173,Waqt,2024.0,Unknown,Unknown,Unknown,tt32887084,32887084,Simipreet Kaur,"Parveen Baani, Balwinder Begowal, Amritpal Bha...",Drama

In [33]:
updated_df.to_csv('Processed_2024_updated.csv')

In [881]:
new_df = pd.read_csv('IMDB-Movie-Dataset(2023-1951).csv',index_col=0)
new_df2=pd.read_csv('Processed_2024_updated.csv',index_col=0)

In [882]:
new_df.sample(5)

,movie_id,movie_name,year,genre,overview,director,cast
865,tt3302962,Shaadi Ke Side Effects,2014,"Comedy, Romance",A complicated relationship develops between a ...,Saket Chaudhary,"Farhan Akhtar, Vidya Balan, Vir Das, Ram Kapoor"
528,tt11651796,AK vs AK,2020,"Action, Comedy, Crime",A filmmaker kidnaps the daughter of a movie st...,Vikramaditya Motwane,"Anil Kapoor, Anurag Kashyap, Sonam Kapoor, Har..."
1761,tt0259854,Andhera,1975,"Crime, Drama, Thriller",Deepak drives a car and tries to chase Asha se...,"Shyam Ramsay, Tulsi Ramsay","Sameer Khan, Vani Ganpati, Imtiaz Khan, Dulari"
248,tt14042066,Dobaaraa,2022,"Drama, Fantasy, Mystery",A woman gets an opportunity to save the life o...,Anurag Kashyap,"Taapsee Pannu, Pavail Gulati, Nassar, Saswata ..."
720,tt0116950,Maachis,1996,"Action, Crime, Drama","A realistic, hard-hitting portrayal of terrori...",Gulzar,"Om Puri, Tabu, Chandrachur Singh, Kanwaljeet S..."

In [883]:
new_df2.sample(5)

,Movie_Name,Year,Duration,Rating,Overview,imdb_id,movie_id,Directors,Casts,Genres
502,Uruku Patela,2024.0,2h 2m,7.3,The protagonist finds himself entrapped in a m...,tt32992976,32992976,Vivek Reddy,"Tejus Kancherla, Khushboo Choudhary, Chammak C...","Comedy, Thriller"
76,35-Chinna Katha Kaadu,2024.0,2h 25m,7.8,Revolves around a young mother facing challeng...,tt32750432,32750432,Nanda Kishore Emani,"Abhay, Ananya, Bhagyaraj, Arun Dev, Gautami",Comedy
1297,Jaar,2024.0,1h 55m,Unknown,"In Nepalese society, 'Jaar' denotes a man enga...",tt32621725,32621725,Phurba Tshering Lama,"Geetanjali Thapa, Saugat Malla, Anoop Bikram S...",Drama
396,Hocus Focus,2024.0,1h 25m,8.1,"In a shocking discovery, video footage from mu...",tt12695508,12695508,Paierry Dodeja,"Suchhi Kumar, Satinder Singh Gahlot, Sona Bhan...","Action, Crime, Thriller"
1826,Karmayogi Abasaheb,2024.0,Unknown,Unknown,Unknown,tt33775939,33775939,Altaf Dadasaheb Shaikh,"Suresh Vishwakarma, Pradeep Velankar, Prithvik...",unknown

In [884]:
new_df.shape

(2199, 7)

In [885]:
new_df2.shape

(1832, 10)

In [886]:
2199+1832

4031

In [887]:
new_df2.columns= new_df2.columns.str.lower()

In [888]:
new_df2.rename(columns={'imdb_id': 'movie_id', 'movie_id': 'movie_id2', 'directors': 'director', 'casts': 'cast', 'genres': 'genre'}, inplace=True)

In [889]:
new_df2 = new_df2[['movie_id','movie_name','year','genre','overview','director','cast']]

In [890]:
new_df2

,movie_id,movie_name,year,genre,overview,director,cast
0,tt27510174,Stree 2: Sarkate Ka Aatank,2024.0,"Comedy, Horror","After the events of Stree, the town of Chander...",Amar Kaushik,"Rajkummar Rao, Shraddha Kapoor, Pankaj Tripath..."
1,tt11821912,Devara Part 1,2024.0,"Action, Drama, Thriller","An epic action saga set against coastal lands,...",Koratala Siva,"N.T. Rama Rao Jr., Saif Ali Khan, Janhvi Kapoo..."
2,tt19838634,Ulajh,2024.0,"Drama, Thriller","The journey of a young IFS officer, belonging ...",Sudhanshu Saria,"Janhvi Kapoor, Roshan Mathew, Gulshan Devaiah,..."
3,tt26659814,Auron Mein Kahan Dum Tha,2024.0,"Action, Crime, Drama, Romance","After 20 years in prison, a man reunites with ...",Neeraj Pandey,"Ajay Devgn, Tabu, Jimmy Shergill, Saiee Manjre..."
4,tt28631109,Dharmaveer 2,2024.0,"Documentary, Biography, Drama","Explores Anand Dighe's life, tracing his polit...",Pravin Tarde,"Sunil Barve, Rajesh Bhosle, Kshitish Date, Mak..."
...,...,...,...,...,...,...,...
1827,tt33808098,Cycle Mahesh,2024.0,unknown,A young worker's epic bicycle journey home and...,Suhel Banerjee,unknown
1828,tt33808618,Maryade Prashne,2024.0,unknown,Unknown,Nagaraja Somayaji,"Poornachandra Mysuru, Rekha Kudligi, Teju Bela..."
1829,tt33810459,Uruttu Factory,2024.0,Documentary,Unknown,"Sid, Sid",Sid
1830,tt33812085,Satchi Perumal (Witness Perumal),2024.0,Drama,'Satchi Perumal' with the main lead Perumal fr...,RP. Vinnu,"Pandiamma, Verra Paramasivam, V P. Rajasekar, ..."
1831,tt33821001,Apna Amitabh,2024.0,"Comedy, Drama, Family",This is a story of a young man boy named Vijay...,Ajay Anand,"Mukesh S. Bhatt, Jay Thakkar, Sharat Sonu, Bac..."

In [891]:
new_df = pd.concat([new_df, new_df2], ignore_index=True)

In [892]:
new_df

,movie_id,movie_name,year,genre,overview,director,cast
0,tt15354916,Jawan,2023,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,tt15748830,Jaane Jaan,2023,"Crime, Drama, Mystery",A single mother and her daughter who commit a ...,Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."
2,tt11663228,Jailer,2023,"Action, Comedy, Crime",A retired jailer goes on a manhunt to find his...,Nelson Dilipkumar,"Rajinikanth, Mohanlal, Shivarajkumar, Jackie S..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"Comedy, Drama, Family",Flamboyant Punjabi Rocky and intellectual Beng...,Karan Johar,"Ranveer Singh, Alia Bhatt, Dharmendra, Shabana..."
4,tt15732324,OMG 2,2023,"Comedy, Drama",An unhappy civilian asks the court to mandate ...,Amit Rai,"Pankaj Tripathi, Akshay Kumar, Yami Gautam, Pa..."
...,...,...,...,...,...,...,...
4026,tt33808098,Cycle Mahesh,2024.0,unknown,A young worker's epic bicycle journey home and...,Suhel Banerjee,unknown
4027,tt33808618,Maryade Prashne,2024.0,unknown,Unknown,Nagaraja Somayaji,"Poornachandra Mysuru, Rekha Kudligi, Teju Bela..."
4028,tt33810459,Uruttu Factory,2024.0,Documentary,Unknown,"Sid, Sid",Sid
4029,tt33812085,Satchi Perumal (Witness Perumal),2024.0,Drama,'Satchi Perumal' with the main lead Perumal fr...,RP. Vinnu,"Pandiamma, Verra Paramasivam, V P. Rajasekar, ..."
4030,tt33821001,Apna Amitabh,2024.0,"Comedy, Drama, Family",This is a story of a young man boy named Vijay...,Ajay Anand,"Mukesh S. Bhatt, Jay Thakkar, Sharat Sonu, Bac..."

In [893]:
new_df.to_csv('Final_Movie_Dataset.csv')

In [894]:
new_df.duplicated().sum()

np.int64(0)

In [895]:
new_df.isnull().sum()

movie_id       0
movie_name     0
year          65
genre          0
overview       0
director       0
cast           0
dtype: int64

In [896]:
new_df["year"]= new_df["year"].replace(np.nan, "Unknown")

In [897]:
new_df.isnull().sum()

movie_id      0
movie_name    0
year          0
genre         0
overview      0
director      0
cast          0
dtype: int64

In [898]:
new_df['year'].unique()

array(['2023', '2016', '2009', '2012', '2001', '2007', '2018', '2022',
       '1982', '2014', '2010', '2017', '2015', '2024', '2004', '2011',
       '1998', '2006', '2002', '2019', '2013', '2003', '2021', '1999',
       '1995', '2008', '2020', '2000', '1975', 'Unknown', '1993', '1994',
       '2025', '2005', '1997', '1967', '1992', 'XV2016', '1991', '1965',
       '1988', '1970', '1957', '1956', '1990', 'V2020', '1983', '1996',
       '1987', '1959', 'X2020', '1981', '1978', '1989', 'V', '1972',
       '1960', '1953', '1973', '1966', '1955', '1984', '1964', '1962',
       '1977', '1971', '1985', '1980', '2026', '1976', '1958', '1986',
       'X', '1974', '1932', '1969', '1979', '1961', '1968', 'V2023',
       '1951', '1954', 'XXX', 'XXV', '1963', 2024.0], dtype=object)

In [899]:
new_df['year'].value_counts().sum()

np.int64(4031)

In [900]:
def remove_alpha_or_nan(year):
    # Use regular expression to remove all alphabetic characters
    cleaned_year = re.sub(r'[A-Za-z]', '', year)
    
    # If the result is an empty string, return NaN
    if cleaned_year == '':
        return 0
    return cleaned_year

In [901]:
new_df['year'] = new_df['year'].astype(str).apply(remove_alpha_or_nan)

In [902]:
new_df['year'].unique()

array(['2023', '2016', '2009', '2012', '2001', '2007', '2018', '2022',
       '1982', '2014', '2010', '2017', '2015', '2024', '2004', '2011',
       '1998', '2006', '2002', '2019', '2013', '2003', '2021', '1999',
       '1995', '2008', '2020', '2000', '1975', 0, '1993', '1994', '2025',
       '2005', '1997', '1967', '1992', '1991', '1965', '1988', '1970',
       '1957', '1956', '1990', '1983', '1996', '1987', '1959', '1981',
       '1978', '1989', '1972', '1960', '1953', '1973', '1966', '1955',
       '1984', '1964', '1962', '1977', '1971', '1985', '1980', '2026',
       '1976', '1958', '1986', '1974', '1932', '1969', '1979', '1961',
       '1968', '1951', '1954', '1963', '2024.0'], dtype=object)

In [903]:
new_df['year'].values

array(['2023', '2023', '2023', ..., '2024.0', '2024.0', '2024.0'],
      dtype=object)

In [904]:
new_df.dtypes

movie_id      object
movie_name    object
year          object
genre         object
overview      object
director      object
cast          object
dtype: object

In [905]:
# new_df['year'] = new_df['year'].astype(float)

In [906]:
# new_df['year'] = new_df['year'].astype(int)

In [907]:
new_df['cast'] = new_df['cast'].str.replace(' ', '')
new_df['genre'] = new_df['genre'].str.replace(' ', '')
new_df['director'] = new_df['director'].str.replace(' ', '')

In [908]:
new_df['overview'] = new_df['overview'].apply(lambda x:x.split())
new_df['overview']

0       [A, high-octane, action, thriller, which, outl...
1       [A, single, mother, and, her, daughter, who, c...
2       [A, retired, jailer, goes, on, a, manhunt, to,...
3       [Flamboyant, Punjabi, Rocky, and, intellectual...
4       [An, unhappy, civilian, asks, the, court, to, ...
                              ...
4026    [A, young, worker's, epic, bicycle, journey, h...
4027                                            [Unknown]
4028                                            [Unknown]
4029    ['Satchi, Perumal', with, the, main, lead, Per...
4030    [This, is, a, story, of, a, young, man, boy, n...
Name: overview, Length: 4031, dtype: object

In [909]:
new_df['genre'] = new_df['genre'].apply(lambda x:x.split())

In [910]:
new_df['director'] = new_df['director'].apply(lambda x:x.split())

In [911]:
new_df['cast'] = new_df['cast'].apply(lambda x:x.split())

In [912]:
new_df.sample(5)

,movie_id,movie_name,year,genre,overview,director,cast
97,tt0374887,Munna Bhai M.B.B.S.,2003,"[Comedy,Drama]","[A, gangster, sets, out, to, fulfill, his, fat...",[RajkumarHirani],"[SanjayDutt,ArshadWarsi,GracySingh,BomanIrani]"
2560,tt29491755,Love Reddy,2024.0,[unknown],[Unknown],[SmaranReddy],"[PallaviParva,AnjanRamachendra,VaniChannanrary..."
3491,tt31032640,Ravike Prasanga,2024.0,[Comedy],"[A, dressmaker's, blouse, for, Sanvi, in, rura...",[SanthoshKodenkeri],"[GeethaBharathi,KhushiAchar,PraveenAtharva,Han..."
1748,tt0073224,Kaala Sona,1975,"[Action,Thriller]","[Multi-millionaire, businessman,, Rakesh, gets...",[RavikantNagaich],"[FerozKhan,ParveenBabi,PremChopra,FaridaJalal]"
3371,tt32598986,Padmavyuham Lo Chakradhari,2024.0,[Family],"[Explores, the, daily, lives, of, people, livi...",[SanjayReddyBangarapu],"[RajkumarPraveen,TickooShashika,AshuReddy,Bhup..."

In [913]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [914]:
new_df.columns = new_df.columns.str.strip()

In [915]:
new_df['cast'] = new_df['cast'].apply(collapse)
new_df['genre'] = new_df['genre'].apply(collapse)
new_df['director'] = new_df['director'].apply(collapse)
new_df

,movie_id,movie_name,year,genre,overview,director,cast
0,tt15354916,Jawan,2023,"[Action,Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan,Nayanthara,VijaySethupathi,Deepi..."
1,tt15748830,Jaane Jaan,2023,"[Crime,Drama,Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor,JaideepAhlawat,VijayVarma,Saura..."
2,tt11663228,Jailer,2023,"[Action,Comedy,Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth,Mohanlal,Shivarajkumar,JackieShroff]"
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy,Drama,Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh,AliaBhatt,Dharmendra,ShabanaAzmi]"
4,tt15732324,OMG 2,2023,"[Comedy,Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi,AkshayKumar,YamiGautam,PawanMa..."
...,...,...,...,...,...,...,...
4026,tt33808098,Cycle Mahesh,2024.0,[unknown],"[A, young, worker's, epic, bicycle, journey, h...",[SuhelBanerjee],[unknown]
4027,tt33808618,Maryade Prashne,2024.0,[unknown],[Unknown],[NagarajaSomayaji],"[PoornachandraMysuru,RekhaKudligi,TejuBelawadi..."
4028,tt33810459,Uruttu Factory,2024.0,[Documentary],[Unknown],"[Sid,Sid]",[Sid]
4029,tt33812085,Satchi Perumal (Witness Perumal),2024.0,[Drama],"['Satchi, Perumal', with, the, main, lead, Per...",[RP.Vinnu],"[Pandiamma,VerraParamasivam,VP.Rajasekar,Ashok..."
4030,tt33821001,Apna Amitabh,2024.0,"[Comedy,Drama,Family]","[This, is, a, story, of, a, young, man, boy, n...",[AjayAnand],"[MukeshS.Bhatt,JayThakkar,SharatSonu,BachanPac..."

In [918]:
new_df['cast'] = new_df['cast'].apply(lambda lst: ','.join(lst).split(", "))
new_df['genre'] = new_df['genre'].apply(lambda lst: ','.join(lst).split(", "))
new_df['director'] = new_df['director'].apply(lambda lst: ','.join(lst).split(", "))

In [919]:
new_df.sample(5)

,movie_id,movie_name,year,genre,overview,director,cast
1269,tt3004774,Tigers,2014,[Drama],"[Ayan,, a, pharmaceutical, salesman, in, Pakis...",[DanisTanovic],"[EmraanHashmi,GeetanjaliThapa,DannyHuston,Khal..."
3209,tt28252956,Sree Muthappan,2024.0,[Drama],"[The, film, unfolds, the, mythology, of, Sree,...",[ChandranNarikode],"[Manikuttan,Madhupal,JoyMathew,RanjithMunshi]"
3893,tt18375464,Maa Da Sohna,2024.0,[Comedy],[Unknown],[HarpreetButala],"[KaramjitAnmol,DeedarGill,RimsonKaur,SruishtyM..."
2866,tt30654296,Romantic Life,2024.0,[Romance],[Unknown],[MaheshBhagyaraj],"[PrashanthAila,Anjali,MeherKrisna,Rangasthalam..."
3230,tt32919669,Paalum Pazhavum,2024.0,[Romance],"[A, 23-year-old, man, connects, with, a, 33-ye...",[V.K.Prakash],"[Ashokan,MirdhuBalan,SumeshChandan,FrancoFranc..."

In [675]:
# new_df['tags'] = new_df['overview'].astype(str) + new_df['genre'].astype(str) + new_df['director'].astype(str) + new_df['cast'].astype(str)
new_df['tags'] = new_df['overview'] + new_df['genre'] + new_df['director'] + new_df['cast']

In [676]:
new_df = new_df.drop(columns=['overview','genre','cast','director'])

In [678]:
new_df.head()

,movie_id,movie_name,year,tags
0,tt15354916,Jawan,2023,"[A, high-octane, action, thriller, which, outl..."
1,tt15748830,Jaane Jaan,2023,"[A, single, mother, and, her, daughter, who, c..."
2,tt11663228,Jailer,2023,"[A, retired, jailer, goes, on, a, manhunt, to,..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Flamboyant, Punjabi, Rocky, and, intellectual..."
4,tt15732324,OMG 2,2023,"[An, unhappy, civilian, asks, the, court, to, ..."

In [679]:
# new_df['tags']= new_df['tags'].replace(","," ")
# new_df['tags']
# # new_df['tags'].replace(", ","")

In [684]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()
#new.iloc[0].tags

,movie_id,movie_name,year,tags
0,tt15354916,Jawan,2023,A high-octane action thriller which outlines t...
1,tt15748830,Jaane Jaan,2023,A single mother and her daughter who commit a ...
2,tt11663228,Jailer,2023,A retired jailer goes on a manhunt to find his...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,Flamboyant Punjabi Rocky and intellectual Beng...
4,tt15732324,OMG 2,2023,An unhappy civilian asks the court to mandate ...

In [687]:
new_df['tags'][1]

'A single mother and her daughter who commit a crime and a neighbor who helps them cover it up amidst a police investigation. Crime,Drama,Mystery SujoyGhosh KareenaKapoor,JaideepAhlawat,VijayVarma,SaurabhSachdeva'