In [420]:
import pandas as pd
import requests
import re
import numpy as np
import ast

In [421]:
# new_df = pd.read_csv('IMDB-Movie-Dataset(2023-1951).csv',index_col=0)
# new_df2=pd.read_csv('Processed_2024_updated.csv',index_col=0)

In [422]:
new_df = pd.read_csv("final_movie_dataset_with_keyword.csv", index_col=0)

In [423]:
new_df.sample(5)

,movie_id,movie_name,year,genre,overview,director,cast,movie_id2,Keywords
2211,tt27995594,Munjya,2024.0,"Comedy, Horror",A young man's visit to his native village unve...,Aditya Sarpotdar,"Sharvari, Abhay Verma, Mona Singh, Sathyaraj, ...",27995594,"haunted tree, folklore, maddock supernatural u..."
2870,tt33088719,Hide N Seek,2024.0,Horror,"Vaishnavi, a determined investigator, discover...",Basireddy Rana,"Viswant Duddumpudi, Sainath Garimella, Kasvi, ...",33088719,NaN
3045,tt14783682,Matinee,2024.0,Thriller,Arun owns a property in Bangalore where he inv...,Manohar Kaampalli,"Nagabhushana, Sathish Neenasam, Shivraj K R Pe...",14783682,NaN
2932,tt33265241,Shiva Ke Ram Bhoomi,2024.0,"Action, Romance",Shiva stands as a steadfast protector of his B...,Bijender Soni,"Vicky Kajla, Priyanka Sharma, Vijay Varma, Nee...",33265241,NaN
287,tt1230448,Billu,2009,"Comedy, Drama","In an Indian village, a struggling barber sees...",Priyadarshan,"Irrfan Khan, Lara Dutta, Om Puri, Govardhan As...",1230448,"barber, character name as title, one word title"

In [424]:
new_df.shape

(4031, 9)

In [425]:
new_df2.shape

(4031, 4)

In [426]:
new_df["movie_id"].duplicated().sum()

np.int64(55)

In [427]:
new_df = new_df.drop_duplicates(subset='movie_id', keep='first')

In [428]:
new_df["movie_id"].duplicated().sum()

np.int64(0)

In [429]:
new_df.isnull().sum()

movie_id         0
movie_name       0
year            65
genre            0
overview         0
director         0
cast             0
movie_id2        0
Keywords      1746
dtype: int64

In [430]:
new_df["year"]= new_df["year"].replace(np.nan, "Unknown")
new_df["Keywords"]= new_df["Keywords"].replace(np.nan, "Unknown")

In [431]:
new_df.isnull().sum()

movie_id      0
movie_name    0
year          0
genre         0
overview      0
director      0
cast          0
movie_id2     0
Keywords      0
dtype: int64

In [432]:
new_df['year'].unique()

array(['2023', '2016', '2009', '2012', '2001', '2007', '2018', '2022',
       '1982', '2014', '2010', '2017', '2015', '2024', '2004', '2011',
       '1998', '2006', '2002', '2019', '2013', '2003', '2021', '1999',
       '1995', '2008', '2020', '2000', '1975', 'Unknown', '1993', '1994',
       '2025', '2005', '1997', '1967', '1992', 'XV2016', '1991', '1965',
       '1988', '1970', '1957', '1956', '1990', 'V2020', '1983', '1996',
       '1987', '1959', 'X2020', '1981', '1978', '1989', 'V', '1972',
       '1960', '1953', '1973', '1966', '1955', '1984', '1964', '1962',
       '1977', '1971', '1985', '1980', '2026', '1976', '1958', '1986',
       'X', '1974', '1932', '1969', '1979', '1961', '1968', 'V2023',
       '1951', '1954', 'XXX', 'XXV', '1963', '2024.0'], dtype=object)

In [433]:
new_df['year'].value_counts().sum()

np.int64(3976)

In [434]:
def remove_alpha_or_nan(year):
    # Use regular expression to remove all alphabetic characters
    cleaned_year = re.sub(r'[A-Za-z]', '', year)
    
    # If the result is an empty string, return NaN
    if cleaned_year == '':
        return 0
    return cleaned_year

In [435]:
new_df['year'] = new_df['year'].astype(str).apply(remove_alpha_or_nan)

In [436]:
new_df['year'].unique()

array(['2023', '2016', '2009', '2012', '2001', '2007', '2018', '2022',
       '1982', '2014', '2010', '2017', '2015', '2024', '2004', '2011',
       '1998', '2006', '2002', '2019', '2013', '2003', '2021', '1999',
       '1995', '2008', '2020', '2000', '1975', 0, '1993', '1994', '2025',
       '2005', '1997', '1967', '1992', '1991', '1965', '1988', '1970',
       '1957', '1956', '1990', '1983', '1996', '1987', '1959', '1981',
       '1978', '1989', '1972', '1960', '1953', '1973', '1966', '1955',
       '1984', '1964', '1962', '1977', '1971', '1985', '1980', '2026',
       '1976', '1958', '1986', '1974', '1932', '1969', '1979', '1961',
       '1968', '1951', '1954', '1963', '2024.0'], dtype=object)

In [437]:
new_df['year'].values

array(['2023', '2023', '2023', ..., '2024.0', '2024.0', '2024.0'],
      dtype=object)

In [438]:
new_df['year'] = new_df['year'].astype(float)

In [439]:
new_df['year'] = new_df['year'].astype(int)

In [440]:
new_df.dtypes

movie_id      object
movie_name    object
year           int64
genre         object
overview      object
director      object
cast          object
movie_id2      int64
Keywords      object
dtype: object

In [441]:
new_df['cast'] = new_df['cast'].str.replace(' ', '')
new_df['genre'] = new_df['genre'].str.replace(' ', '')
new_df['director'] = new_df['director'].str.replace(' ', '')
new_df['Keywords'] = new_df['Keywords'].str.replace(' ', '')

In [442]:
new_df['overview'] = new_df['overview'].apply(lambda x:x.split())
new_df['overview']

0       [A, high-octane, action, thriller, which, outl...
1       [A, single, mother, and, her, daughter, who, c...
2       [A, retired, jailer, goes, on, a, manhunt, to,...
3       [Flamboyant, Punjabi, Rocky, and, intellectual...
4       [An, unhappy, civilian, asks, the, court, to, ...
                              ...
4026    [A, young, worker's, epic, bicycle, journey, h...
4027                                            [Unknown]
4028                                            [Unknown]
4029    ['Satchi, Perumal', with, the, main, lead, Per...
4030    [This, is, a, story, of, a, young, man, boy, n...
Name: overview, Length: 3976, dtype: object

In [443]:
new_df['genre'] = new_df['genre'].apply(lambda x:x.split())
new_df['director'] = new_df['director'].apply(lambda x:x.split())
new_df['cast'] = new_df['cast'].apply(lambda x:x.split())
new_df['Keywords'] = new_df['Keywords'].apply(lambda x:x.split())

In [445]:
new_df.sample(5)

,movie_id,movie_name,year,genre,overview,director,cast,movie_id2,Keywords
874,tt20319598,Lakadbaggha,2023,"[Action,Comedy,Crime]","[An, animal, loving, vigilante, Arjun, Bakshi,...",[VictorMukherjee],"[AnshumanJha,RiddhiDogra,PareshPahuja,MilindSo...",20319598,[animal]
658,tt3823392,Love Sonia,2018,[Drama],"[Inspired, by, real, life, events,, Love, Soni...",[TabrezNoorani],"[AbhishekBharate,RiyaSisodiya,MrunalThakur,Adi...",3823392,"[humantrafficking,sextrade,forcedintoprostitut..."
442,tt1327035,Dev.D,2009,"[Comedy,Drama,Romance]","[After, breaking, up, with, his, childhood, sw...",[AnuragKashyap],"[AbhayDeol,MahieGill,KalkiKoechlin,DibyenduBha...",1327035,"[downwardspiral,indiansexcomedy,characterrepea..."
630,tt1433905,All the Best: Fun Begins,2009,"[Action,Comedy,Drama]","[The, unexpected, arrival, of, his, elder, NRI...",[RohitShetty],"[SanjayDutt,AjayDevgn,FardeenKhan,BipashaBasu]",1433905,"[gangster,stepbrotherstepbrotherrelationship,s..."
2898,tt32324185,Hoy Maharaja,2024,[unknown],"[A, conman, struggles, to, save, his, love, an...",[ShaileshShetty],"[AbhijeetChavan,SamirChoughule,SandeepJuwatkar...",32324185,[Unknown]

In [451]:
new_df['tags'] = new_df['overview'] + new_df['genre'] + new_df['director'] + new_df['cast'] + new_df["Keywords"]

In [452]:
new_df = new_df.drop(columns=['overview','genre','cast','director', 'Keywords'])

In [453]:
new_df.head()

,movie_id,movie_name,year,movie_id2,tags
0,tt15354916,Jawan,2023,15354916,"[A, high-octane, action, thriller, which, outl..."
1,tt15748830,Jaane Jaan,2023,15748830,"[A, single, mother, and, her, daughter, who, c..."
2,tt11663228,Jailer,2023,11663228,"[A, retired, jailer, goes, on, a, manhunt, to,..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,14993250,"[Flamboyant, Punjabi, Rocky, and, intellectual..."
4,tt15732324,OMG 2,2023,15732324,"[An, unhappy, civilian, asks, the, court, to, ..."

In [454]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

,movie_id,movie_name,year,movie_id2,tags
0,tt15354916,Jawan,2023,15354916,A high-octane action thriller which outlines t...
1,tt15748830,Jaane Jaan,2023,15748830,A single mother and her daughter who commit a ...
2,tt11663228,Jailer,2023,11663228,A retired jailer goes on a manhunt to find his...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,14993250,Flamboyant Punjabi Rocky and intellectual Beng...
4,tt15732324,OMG 2,2023,15732324,An unhappy civilian asks the court to mandate ...

In [455]:
new_df['tags'][0]

'A high-octane action thriller which outlines the emotional journey of a man who is set to rectify the wrongs in the society. Action,Thriller Atlee ShahRukhKhan,Nayanthara,VijaySethupathi,DeepikaPadukone revenge,chase,suicide,farmer,train,injustice,police,promise,prison,doctor,showdown,society,battle,fight,highoctane,vigilantejustice,fathersonrelationship,sceneduringendcredits,songduringendcredits,finalbattle,dualrole,hijack,womenempowerment,husbandwiferelationship,mothersonrelationship,pregnantwoman,intermission,songanddance,motherdaughterrelationship,actionhero,actionviolence,brotherbrotherrelationship,memoryloss,dogkilled,murderofdog,stabbedwithapen,hangedtodeath,fatherdaughterrelationship,marriage,shotmultipletimes,vigilante,onepersonarmyaction,gunaction,gunbattle,shootout,corruption,suspense,deathofvillain,indestructible,killingmachine'

In [456]:
new_df['tags'] = new_df['tags'].str.replace(',', ' ')

In [457]:
new_df['tags'][0]

'A high-octane action thriller which outlines the emotional journey of a man who is set to rectify the wrongs in the society. Action Thriller Atlee ShahRukhKhan Nayanthara VijaySethupathi DeepikaPadukone revenge chase suicide farmer train injustice police promise prison doctor showdown society battle fight highoctane vigilantejustice fathersonrelationship sceneduringendcredits songduringendcredits finalbattle dualrole hijack womenempowerment husbandwiferelationship mothersonrelationship pregnantwoman intermission songanddance motherdaughterrelationship actionhero actionviolence brotherbrotherrelationship memoryloss dogkilled murderofdog stabbedwithapen hangedtodeath fatherdaughterrelationship marriage shotmultipletimes vigilante onepersonarmyaction gunaction gunbattle shootout corruption suspense deathofvillain indestructible killingmachine'

In [471]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [472]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [473]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [474]:
vector.shape

(3976, 5000)

In [475]:
from sklearn.metrics.pairwise import cosine_similarity

In [476]:
similarity = cosine_similarity(vector)

In [477]:
similarity

array([[1.        , 0.04675246, 0.20088078, ..., 0.        , 0.        ,
        0.02195814],
       [0.04675246, 1.        , 0.07161149, ..., 0.        , 0.04303315,
        0.03131121],
       [0.20088078, 0.07161149, 1.        , ..., 0.        , 0.        ,
        0.03363364],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.12598816,
        0.09166985],
       [0.        , 0.04303315, 0.        , ..., 0.12598816, 1.        ,
        0.16169042],
       [0.02195814, 0.03131121, 0.03363364, ..., 0.09166985, 0.16169042,
        1.        ]])

In [478]:
print(similarity)

[[1.         0.04675246 0.20088078 ... 0.         0.         0.02195814]
 [0.04675246 1.         0.07161149 ... 0.         0.04303315 0.03131121]
 [0.20088078 0.07161149 1.         ... 0.         0.         0.03363364]
 ...
 [0.         0.         0.         ... 1.         0.12598816 0.09166985]
 [0.         0.04303315 0.         ... 0.12598816 1.         0.16169042]
 [0.02195814 0.03131121 0.03363364 ... 0.09166985 0.16169042 1.        ]]

In [492]:
def recommend(movie):
    index = new_df[new_df['movie_name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:20]:
        # if i[1] >= 0.3:
            print(new_df.iloc[i[0]].movie_name)

In [507]:
recommend('The Diary of West Bengal')

Oru Jaathi Jathakam
Woh 3 Din
Malaikottai Vaaliban
Chehre
Demons
Kodiyil Oruvan
Jaar
Rangasamudra
Jaggu Ki Lalten
Kaagaz 2
Meiyazhagan
Successful Failure
Bad
U Shape Ki Gully
The Spoils
Fasal
Ucha Dar Babe Nanak Da
Karma Wallet
Gulkand

In [490]:
filtered.sample(5)

,movie_id,movie_name,year,tags
2498,tt30893648,The Diary of West Bengal,2024,Centred around the illegal influx of Rohingya ...
1215,tt5842616,Veere Di Wedding,2018,Four girls on their way to find true love disc...
2601,tt16867258,Sheran Di Kaum Punjabi,2024,Unknown Action Adventure Drama History War Gip...
2719,tt19363246,Abhirami,2024,'Abhirami' is a story about a young lady who l...
3100,tt16899902,Jamalinte Punjiri,2024,In a world where injustice reigns and society ...

In [132]:
new_df2 = new_df.dropna(subset=['year'])

In [146]:
filtered =new_df2[new_df2['year'] > 2000]

In [209]:
new_df["movie_id"].duplicated().dropna()

0       False
1       False
2       False
3       False
4       False
        ...
4026    False
4027    False
4028    False
4029    False
4030    False
Name: movie_id, Length: 4031, dtype: bool

In [210]:
new_df["movie_id"].duplicated().sum()

np.int64(55)